.app-weather {
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
  width: 90%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  margin: 15px 0;
  background-image: linear-gradient(to bottom, rgba(90, 88, 88, 0.2), white);
}

main {
  padding: 15px;
  width: 100%;
}

.location-box {
  display: flex;
  flex-direction: column;
}

.location-box .location {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px black;
}

.weather-box {
  text-align: center;
}

.icon-weather {
  margin: 0 auto;
  width: 40%;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 5px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 5px 15px;

  color: black;
  font-size: 2rem;
  font-weight: 500;

  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 1px 1px black;
}
