.cards {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 40px;
    
}


.card_country {
    position: absolute;
    color: white;
    display: table-cell;
    vertical-align: bottom;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 1.4rem;
  }

  .card {
      border-radius: 10px;
      transition: all 0.3s ease;
     border: 0;
     box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  
  }
  .img-fluid {
    border-radius: 10px;
    height: 240px;
     width: 100% 
  }

  .card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(7, 4, 4, 0.5);
    

  }