.swiper-container.gallery-top {
    width: 80%;
  }
  .gallery-top .swiper-slide {
    margin: auto 0;
  }
  .gallery-top .swiper-slide>img {
    width: 100%;
    border-radius: 5px;
  }
  
  .swiper-container.gallery-thumbs {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 65%;
  }
  .swiper-pagination {
    bottom: 0;
    padding-bottom: 10px;
  }
  .gallery-thumbs .swiper-slide {
    opacity: 0.4;
    height: 85px;
  }
  .gallery-thumbs .swiper-slide>img {
    width: 100%;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  .swiper-wrapper {
    padding-inline-start: 0;
  }
  
  .swiper-button-next {
  color: white;
  transition: all 0.3s ease;
  }
  .swiper-button-next:hover {
    color: #007aff;
    transform: scale(1.1);
    }
  .swiper-button-prev {
  color: white;
  transition: all 0.3s ease;
  }
  .swiper-button-prev:hover {
    color: #007aff;
    transform: scale(1.1);
  }
  .slider-description {
    width: 100%;
  }
  .slider-description-sight {
    width: 80%;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 320px) {
    .swiper-container.gallery-thumbs {
      width: 60%;
    }
    .gallery-thumbs .swiper-slide {
      height: 30px;
     }
     .swiper-button-next, .swiper-button-prev::after {
      display: none;
    }
    .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 0px;
    }
  }
  @media screen and (min-width: 400px) {
    .gallery-thumbs .swiper-slide {
      height: 35px;
     }
     .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 5px;
    }
  }
  @media screen and (min-width: 500px) {
    .gallery-thumbs .swiper-slide {
      height: 40px;
     }
     .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 10px;
    }
  }
  @media screen and (min-width: 600px) {
    .gallery-thumbs .swiper-slide {
      height: 45px;
     }
  
  }
  @media screen and (min-width: 700px) {
    .gallery-thumbs .swiper-slide {
      height: 50px;
     }
  }
  @media screen and (min-width: 768px) {
    .gallery-thumbs .swiper-slide {
     height: 55px;
    }
    .swiper-button-next, .swiper-button-prev::after {
      display: block;
    }
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
    }
  }
  @media screen and (min-width: 900px) {
    .gallery-thumbs .swiper-slide {
     height: 55px;
    }
  }
  @media screen and (min-width: 1050px) {
    .gallery-thumbs .swiper-slide {
     height: 65px;
    }
  }
  @media screen and (min-width: 1280px) {
    .gallery-thumbs .swiper-slide {
     height: 75px;
    }
  }